{applications,[meck]}.
{authors,["Adam Lindberg <eproxus@gmail.com>"]}.
{code_paths,["ebin"]}.
{deps_dir,"deps"}.
{description,"A mocking library for Erlang"}.
{homepage,"http://eproxus.github.com/meck"}.
{install_dirs,["doc","ebin","include","priv"]}.
{keywords,[]}.
{license,"Apache License 2.0","LICENSE"}.
{name,"meck"}.
{rebar_commands,["get-deps","compile"]}.
{rebar_compatible,true}.
{requires,[]}.
{url,{git,"https://github.com/eproxus/meck.git",{branch,"master"}}}.
