{applications,[mochiweb]}.
{authors,["Bob Ippolito <bob@mochimedia.com>"]}.
{code_paths,["ebin"]}.
{deps_dir,"deps"}.
{description,"Erlang library for building lightweight HTTP servers"}.
{homepage,"https://github.com/mochi/mochiweb"}.
{install_dirs,["doc","ebin","include","priv"]}.
{keywords,[]}.
{license,"MIT","LICENSE"}.
{name,"mochiweb"}.
{rebar_commands,["get-deps","compile"]}.
{rebar_compatible,true}.
{requires,[]}.
{url,{git,"https://github.com/mochi/mochiweb.git",{branch,"master"}}}.
